<a href="https://colab.research.google.com/github/dariagurova/Yahoo-Finance-API-/blob/main/Project2_CIS3120.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_largest_technology_companies_by_revenue'

In [ ]:
data_frame = pd.read_html(url)[2] #scrapes the third datatable from the page
df_1 = pd.DataFrame(data_frame)
df_1.pop("Company") #removes empty column "Company"
df_1.rename(columns = {'Company.1':'Company', 'Revenue ($B) USD[6]':'Revenue($B)', 'Employees[6]':'Employees'}, inplace=True) #rename columns
df_1.drop(index=5, inplace=True)
df_1.reset_index(drop=True, inplace=True)  #removes a company that is not publicly traded from the df, resets index

In [ ]:
import requests
import json

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-summary"
params = json.loads('{"region":"US"}')
headers = {
    'x-rapidapi-key': "a921f179f8msh575fbe8f174577fp14586cjsn6de124e3128e",
    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
    }
current_price = []
current_ratio = [] 
debttoEquity = []
earningsGrowth = []
ebitda = []

companies = ["AAPL","005930.KS","2354.TW","GOOG","MSFT","DELL","HTHIY","IBM","SONY","PCRFY","INTC","HPQ","FB","066570.KS","LNVGY"]
for company in companies:
  print('sending request for company: ' + company + '...')
  params['symbol'] = company
  response = requests.request("GET", url, headers=headers, params=params)
  data = response.json()
  if 'fmt' not in data["financialData"]["currentPrice"]:
    current_price.append('0')    #if financial data is missing from API put 0 to df 
  else :
    current_price.append(data["financialData"]["currentPrice"]["fmt"])

  if 'fmt' not in  data["financialData"]["currentRatio"]:
    current_ratio.append('0')
  else :
    current_ratio.append(data["financialData"]["currentRatio"]["fmt"])
   
  if 'fmt' not in  data["financialData"]["debtToEquity"] :
    debttoEquity.append('0')
  else : 
    debttoEquity.append(data["financialData"]["debtToEquity"]["fmt"])

  if 'fmt' not in  data["financialData"]["earningsGrowth"] :
    earningsGrowth.append('0')
  else :
    earningsGrowth.append(data["financialData"]["earningsGrowth"]["fmt"])
  
  if 'fmt' not in  data["financialData"]["ebitda"]:
    ebitda.append('0')
  else :
    ebitda.append(data["financialData"]["ebitda"]["fmt"])

sending request for company: AAPL...
sending request for company: 005930.KS...
sending request for company: 2354.TW...
sending request for company: GOOG...
sending request for company: MSFT...
sending request for company: DELL...
sending request for company: HTHIY...
sending request for company: IBM...
sending request for company: SONY...
sending request for company: PCRFY...
sending request for company: INTC...
sending request for company: HPQ...
sending request for company: FB...
sending request for company: 066570.KS...
sending request for company: LNVGY...

In [ ]:
import pandas as pd
df_list = list() #list for a dataframe 
df_final = pd.DataFrame()
df_final['Current Price'] = current_price
df_final['Current Ratio'] = current_ratio
df_final['Debt to Equity'] = debttoEquity
df_final['Earnings Growth'] = earningsGrowth
df_final['EBIDTA'] = ebitda
df_list.append(df_final)   ##appends final dataframe to the df list 
df_2 = pd.concat(df_list, axis=0, ignore_index=True) #combines columns in df list, ignores indexing 
df_final = pd.concat([df_1, df_2], axis=1)
df_final

    Rank              Company  ... Earnings Growth   EBIDTA
0      1                Apple  ...         118.80%   99.82B
1      2  Samsung Electronics  ...          45.00%   68.31T
2      3              Foxconn  ...         100.00%    4.45B
3      4             Alphabet  ...         166.20%      63B
4      5            Microsoft  ...          45.00%   75.58B
5      7    Dell Technologies  ...         193.20%    9.65B
6      8              Hitachi  ...         493.00%  986.84B
7      9                  IBM  ...         -19.20%   15.82B
8     10                 Sony  ...         745.50%    1.34T
9     11            Panasonic  ...         -26.50%  596.93B
10    12                Intel  ...         -37.40%   34.67B
11    13              HP Inc.  ...          80.40%    5.03B
12    14             Facebook  ...          93.00%   45.39B
13    15       LG Electronics  ...               0     5.8T
14    16               Lenovo  ...          48.70%    2.61B

[15 rows x 10 columns]

In [ ]:
from google.colab import drive
drive.mount('/drive')
df_final.to_csv('/drive/My Drive/LargestTechnologyCompanies.csv') #exports csv file to google drive

Mounted at /drive